/* * {
  border: solid 1px red;
} */

.App {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
}

.App-logo {
  height: 60vmin;
}
img {
  -webkit-filter: invert(100%);
  /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

.App-header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


a, a:visited, a:focus, a:hover, a:active {
  color: #3a3f4a;
  margin: 15px;
  height: 150px;
  width: auto;
}
